:root{
    
    --gray:#616161;
    --ac-gray:#3f3f3f;/* active-gray */

    --elm: #5C6BC0;/* elm */
    --elm-h: #303F9F;/* elm-hover */
    --tab-h: #3F51B5;/* tab-hover */
    --tab: #1A237E;/* tab */

    --ac:#BF360C;/* accent */
    --ac-h:#FF5722;/* accent-hover */
    --ac-t:#BF360C;/* accent-total */

    --transition:0.3;

}

.jura{
	font-family: 'Jura', sans-serif;
}
.noto {
    font-family: 'Noto Sans SC', sans-serif;
}
div#dscreator {
    max-width: 1000px;
    padding-bottom: 60px;
}
.config {
    margin: 0 0 10px;
}
.btn.csv-encode {
    background: #28a745;
    color: #fff;
}

.js-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}
.js-tab>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    background-color: var(--tab);
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.js-tab>div:hover{
    background-color: var(--tab-h);
}.js-tab>div.active{
    background-color: var(--ac-t);
}


.elm {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 2px;
}
.elm>div {
    background-color: var(--elm);
    color: #fff;
    padding: 5px;
    margin: 1px;
    font-size: 14px;
    height: 100%;
}
.elm>.num {
    background-color: var(--gray);
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elm>.scores {
    background-color: unset;
    width: 5%;
    min-width: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.elm>.scores>div {
    background-color: var(--gray);
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elm>.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.elm>.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 12%;
    text-align: center;
}



.modal {
    background: rgb(233 237 255 / 95%);
    width: 70%;
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    z-index: 10001;
    overflow-y: auto;
    box-shadow: 1px 1px 3px #999;
}
.modal.active {
    display: block;
}

.modal>div,
.modal .groups {
    display: flex;
}
.modal-area-wrap {
    justify-content: space-between;
}
.modal .level {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray);
    color: #fff;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999;
    cursor: pointer;
    transition: .3s;
}.level.active{
    background-color: var(--ac);
}.level:hover{
    background-color: var(--ac-h);
}
.modal .level.level-value {
    width: 80px;
    margin: 5px;
}

.darklayer {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(0 0 0 / 85%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10000;
}.darklayer.active {
    display: block;
}

.level-event {
    width: 100%;
}
.modal>div.elements {
    display: block;
}
.level-event .element {
    background-color: var(--gray);
    margin: 5px 0;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 3px #999;
    transition: .3s;
    cursor: pointer;
}
.level-event .element:hover {
    background-color: var(--ac-h);
}
.level-event .element.active {
    background-color: var(--ac);
}
.level-event .element>span {
    width: 100%;
    display: inline;
    word-break: break-word;
    padding: 0 5px;
    font-weight: bold;
}.level-event .element>span.en {
    font-size: 12px;
}

.btn.clear-btn {
    background-color: var(--gray);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    font-weight: bold;
    white-space: nowrap;
    transition: .3s;
}
.btn.clear-btn:hover{
    background-color: var(--ac-h);
}






.total-scores {
    width: 450px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgb(231 114 16 / 90%);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px #bcbcbc;
}
.score-header {
    background: rgb(255 235 219 / 10%);
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}
.score-body .events>div {
    padding: 5px;
    margin: 2px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgb(255 255 255 / 10%);
    width: 49%;
    min-width: 200px;
}
p.event-title {
    margin: 0;
    background: rgb(175 79 0 / 60%);
    padding: 0 5px;
    margin: 0 0 5px;
    border-radius: 5px;
}

.score-body>.events {
    display: flex;
    max-width: 450px;
    width: 100%;
    flex-wrap: wrap;
}

.score-body .events .difficult, 
.score-body .events .exp, 
.score-body .events .cv, 
.score-body .events .dscore {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.score-body .events .dscore {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 3px;
    margin: 0 -3px;
    background: rgb(0 0 0 / 30%);
}


.notice-box {
    background: rgb(191 200 255);
    border: 2px solid #5c6bc0;
    color: #1a237e;
    min-height: 120px;
    margin: 3px 1px;
    padding: 3px 10px;
    font-weight: bold;
}

/* Scroll Bar */

/*スクロールバー全体*/
#dscreator ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/*スクロールバーの軌道*/
#dscreator ::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
#dscreator ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}